.nav{
    color:white;
    background-color: rgb(247, 81, 108);
    display: inline-block;
    padding: .5%;
    width: 14%;
    text-align: center;
}
#wholenav {
    background-color: rgb(221, 151, 162);
}
.left {
    float: left;
    width: 30%;
    height: 750px;
    display: inline-block;
}
.right {
    float: left;
    width: 70%;
    background-color: pink;
    height: 850px;
    display: inline;
}
#top {
    width: 100%;
    background-color: palegoldenrod;
    height: 30%;
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    font-size: large;
    padding: 5%;
}
#bottom {
    width: 100%;
    background-color: plum;
    height: 80%;
}
img {
    height: 75%;
}
.sbText {
    padding: 3%;
    vertical-align: top;
}